.carousel{height: 800px;}
/* img{height: 600px;} */
/* h1{font-size: xx-large;
    margin-left: -607px; */
}
/* #BUTTON{margin-left:-607px; */
/* border-radius: 5px;}
.row{height: 400px;
width: 100%;}
.pp{color: purple;}
.cap{
text-align: left;} */
.nav1{width: 200px;
height: 400px;}


#g1
{
    text-align: left;
}


